<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>404</title>
</head>

<body>


<% include ../partials/site %>

<h1>404</h1>

<div>
    Sorry, but you found a path beyond this application. Please return to <a href="/">start page</a>.
</div>

<% include ../partials/footer %>


</body>

</html>
