<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>Teaser...</title>
</head>

<body>

<% include ../partials/navigation %>
<% include ../partials/site %>

<h1>Feeds and my feedback</h1>

<% include ../partials/footer %>

<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
</body>

</html>
