<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>User</title>
</head>

<body>

    <% include ../partials/navigation %>
    <% include ../partials/site %>
    <%- include('../partials/online', {user: user}) %>

    <h1>User</h1>

    <p>
        <%= user.email %>
    </p>
    <p>
        <%= user.role %>
    </p>


    <span class="disabled">Change password | Change email</span>

    <% include ../partials/footer %>

</body>

</html>
